.FormField {
    display: block;
}

.FormField + .FormField {
    margin-top: 9px;
}

.FormField-label {
    font-size: 15px;
    display: block;
    margin-bottom: 3px;
} 

.FormField:has([required]) > .FormField-label {
    font-weight: bold;
}

.FormField:has([required]) > .FormField-label::after {
    content: " (required)";
    font-weight: 400;
}