.layout {
    /*  */
}

.layoutTitle {
    margin: 0;
}

.layoutInner {
    display: flex;
    border: 1px solid #f5f5f5;
    border-radius: 16px;
    margin-top: 18px;
}
@media (max-width: 900px) {
    .layoutInner {
        display: block;
    }
}

.layoutInnerForm {
    width: 290px;
    flex-shrink: 0;
    background: #f5f5f5;
    border-radius: 16px;
    padding: 16px;
}
@media (max-width: 900px) {
    .layoutInnerForm {
        width: auto;
    }
}

.layoutInnerOutput {
    flex-grow: 1;
    padding: 16px;
}

.layoutInnerOutputTitle {
    font-size: 15px;
    margin: 0 0 16px;
}