.layout {
    
}

.layoutTitle {
    margin: 0;
}

.layoutInner {
    display: flex;
    border: 1px solid #f5f5f5;
    border-radius: 16px;
    margin-top: 18px;
}

.layoutInnerForm {
    width: 250px;
    flex-shrink: 0;
    background: #f5f5f5;
    border-radius: 16px;
    padding: 16px;
    
}

.layoutInnerOutput {
    flex-grow: 1;
    padding: 16px;
}

.layoutInnerOutputTitle {
    font-size: 15px;
    margin: 0 0 16px;
}